.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.grid-item {
    padding: 6vw;
}
.grid-item > img {
    border-radius: 10px;
    height: 60vh;
}
.music-message {
    padding: 3in;
    text-wrap: nowrap;
}
.music-embed {
    background-color: var(--color-background-mute);
}
@media (max-width: 800px) {
    .grid-container {
        display: block;
        overflow-y: auto;
    }
    .grid-item {
        margin-bottom: 20px;
        padding: unset;
    }
    .grid-item > img {
        width: 100%;
        height: 40vh; 
        width: 40vh
    }
}