@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
a,
.green {
  text-decoration: none;
  color: rgb(0, 107, 189);
  transition: 0.4s;
  padding: 3px;
}

a {
  cursor: pointer;
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 0px;
  margin-bottom: 5vw;
}

.img-curved {
  height: 2in;
  border-radius: 50%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(227, 70%, 55%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
